<FilesMatch \.[a-zA-Z0-9]+\.php$|\.phpt$|\.sql$>
	Deny From All
</FilesMatch>
Options +MultiViews
php_value include_path ".:..:../..:../../..:../../../..:../../../../..:../../../../../..:;.;..;../..;../../..;../../../..;../../../../..;../../../../../.."

